body{
	margin : 0px;
	background-color : #EDF1D6;
}
.contact-container{
	
	border : 5px solid;
	background-color : green;
	margin-top : 2%;
	margin-left : 20%;
	margin-right : 50%;
	width : 800px;
	
	
}
.gallery-container{
	background-color : #9DC08B;
	border : 5px solid;
	
	
	padding-left : 20%;
	padding-right : 20%;
	
	height : auto;
	width : auto;
}
#gallery-font{
	font-family: 'Mynerve', cursive;
	font-size : 40px;
}
.heading{
	border: 10px solid;
	position : absolute;
	top:30%;
	left:40%;
	padding: 3%;
	
}
.Header-container{
	font-family: 'Mynerve', cursive;
	box-shadow : 0px 5px 20px 2px;
	border-bottom-style: groove;
	background-color : #37a29c;
	padding-top : 5px;
}
.image{
	border-radius: 10% 30%;
	margin :5%;
	
}
.nav{
	font-family: 'Mynerve', cursive;
	font-size : 30px;
	font-weight : bold;
	margin-left : 27%;
	margin-right : 10%;
	padding-left : 10%;
	padding-right : 10%;	
}
.video-container{
	margin-top : 2%;
	padding-left : 30%;
	padding-right : 50%;
}